<ion-header>
  <ion-toolbar color='warning'>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>
       
 <ion-content >
  
  <ion-title>
  <h2><br><br><br><br><br>We have created a map with all <br>
    the ramps and elevators existing <br>on the campus.<br>
    You will see 3 different colours depending <br>on the availability of <br>
    each ramp and each elevator.</h2>
  
    <div class='available'>
      <h3>Available</h3>
    </div>
    <div class='currently'>
      <h3>Currently Non-Available</h3>
    </div>
    <div class='non-available'>
      <h3>Non-Available</h3>
    </div>
    
    
    <h2><br><br><br><br><br><br><br><br><br>If there is any problem please report it <br>on the report section</h2>
    
  </ion-title>
</ion-content>
